<% @professors.each_with_index do |professor, index|  %>
<p id="prof-<%= index %>"><%= "Name: #{professor.name}" %></p>
<p><%= "Age: #{professor.age}" %></p>
<p><%= "Specialty: #{professor.specialty}" %></p>
<% end %>
